@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

/* Additional utilities */
.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}